name: Deploy Pages

on:
  push:
    branches: [ main ]
    paths:
      - "frontend/**"
      - ".github/workflows/pages.yml"
  workflow_run:
    workflows: ["Ingest & Publish"]   # деплоим, когда закончился парсинг
    types: [completed]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Upload static site
        uses: actions/upload-pages-artifact@v3
        with:
          path: frontend    # публикуем СОДЕРЖИМОЕ папки frontend/
  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
